<h1>Welcome <%= current_user.name %>!  Your Own Wish-Lists Are Here</h1>


<div id="all-of-my-lists">
  <p>My Lists:</p>
  <table id="listTable"></table>

</div>
<hr>
<div id="enter-new-list-details" class="hidden nice-data-entry">

	<div>Enter details to create a new list</div>
	<hr>

	<form>
	  <input type="text" placeholder="List Name" id="listName">
    <input type="text" placeholder="Enter a Breif Description" id="listDescr">
    <input type="hidden" id="listOwner" value=<%= current_user.id %>>

    <button type="button" class="btn btn-primary" id="newListDetails">Save List!</button>
	</form>
	<hr>
</div>
<button type="button" class="btn btn-primary" id="create-a-list">Create A New List</button>

<button type="button" class="btn btn-primary" id="delete-all-lists">Delete ALL Lists!</button>


<button type="button" class="btn btn-primary" id="view-my-lists">View My Lists!</button>
<div class="my-list-details">
	<hr>
  <hr>
	<button type="button" class="btn btn-primary" id="add-new-item">Add A New List Item</button>
	<hr>
</div>